body{
    background-color :BLACK ;
    display : flex ;
    align-items : center;
    justify-content : center ;
    height: 100vh;
}
.container{
    color: silver;
}
.digit{
    font-size: 150px ;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 50px;
}
.btn{
    padding: 7px 25px;
    font-size: 35px;
    margin: 0px 5px;
    cursor: pointer;
    border: 5px;
}
#start{
    color:blue;
}
#stop{
    color:darkturquoise;
}
#reset{
    color: red;
}